body
{
    background-color: black;
}

.firstdiv
{
    width: 100%;
    height: 65px;
    background-color: rgb(216, 36, 20);
}

.h11
{
    text-align: center;
    padding-top: 13px;
}

.seconddiv
{
    width: 100%;
    height: 300px;
    background-color: rgb(238, 236, 236);
}

img
{
    margin: 35px
}

.fun1
{
transition: transform 0.5s ease;
border: solid 10px rgb(197, 192, 192);
}

.fun1:hover
{
    transform: scale(2);
}

.fun2
{
    transition: transform 0.5s ease;
    border: dotted 10px  rgb(197, 192, 192);
}

.fun2:hover
{
    transform: scale(2);
}

.fun3
{
    transition: transform 0.5s ease;
    border: dashed 10px rgb(197, 192, 192)
}

.fun3:hover
{
    transform: scale(2);
}

.h3
{
  text-align: center;
}